:root {
  --clr-bg-dark: #1f2937; /* gray-800 */
  --clr-bg-light: #fafafa; /* zinc-50 */
  --clr-text-dark: #1f2937; /* gray-200 */
  --clr-text-light: #fafafa; /* zinc-50 */
}

.dark {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-light);
}

.light {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-dark);
}

@media (max-width: 640px) {
  .project-modal {
    width: 100%;
  }
}

.d-none {
  display: none !important;
}
